@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.6;
}

.header__container {
  position: relative;
  height: 89vh;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
  padding: 1rem;
  border-bottom: 2px solid #63cd2b;
}

.navbar__brand {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.navbar__brand--icon {
  width: 4rem;
}

.navbar__brand--primary {
  font-size: 3rem;
  font-weight: 600;
}

.navbar__brand--secondary {
  margin-top: -1.6rem;
  font-size: 1.5rem;
  letter-spacing: 0.9rem;
  font-weight: 300;
}

.navbar__list {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__list--item {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.8rem;
  margin-right: 2rem;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
}

.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(99, 205, 43, 0.8)), to(rgba(99, 205, 43, 0.8))), url(./img/header.jpg);
  background-image: linear-gradient(rgba(99, 205, 43, 0.8), rgba(99, 205, 43, 0.8)), url(./img/header.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0 1rem;
  position: relative;
}

.header__text {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__heading {
  font-size: 4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  color: white;
  text-transform: capitalize;
}

.header__para {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: 400;
  color: white;
  text-transform: capitalize;
}

.menu__link {
  padding-bottom: 0.5rem;
  position: relative;
  overflow: hidden;
}

.menu__link:before,
.menu__link:after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #63cd2b;
  will-change: width;
  -webkit-transition: width 0.07s ease-out;
  transition: width 0.07s ease-out;
  position: absolute;
  bottom: 0;
}

.menu__link:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu__link:after {
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.menu__link:hover:before,
.menu__link:hover:after {
  width: 100%;
  -webkit-transition-duration: 0.45s;
          transition-duration: 0.45s;
}

.about {
  border-left: 1rem solid #63cd2b;
  border-right: 1rem solid #63cd2b;
}

.about__section {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0;
}

.about__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about__left--primary {
  color: #f53607;
}

.about__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about__right p {
  font-size: 1.6rem;
}

.about__right p:first-child {
  margin-bottom: 2rem;
}

.facts {
  margin: 0 1rem;
  padding: 6rem 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(./img/strength.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/strength.jpeg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.facts__top--primary {
  color: #f53607;
}

.facts__top--secondary {
  color: white;
}

.facts__bottom {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facts__bottom--card {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  width: 20%;
  margin: 4rem 0;
  padding: 3rem 0;
}

.facts__bottom--card i {
  font-size: 4rem;
  padding-bottom: 1.5rem;
}

.facts__bottom--card .card__details--num {
  font-size: 3rem;
  padding-bottom: 0.5rem;
}

.facts__bottom--card .card__details--text {
  font-size: 1.6rem;
  font-weight: 100;
}

.products {
  padding: 6rem 0;
  border-left: 1rem solid #63cd2b;
  border-right: 1rem solid #63cd2b;
}

.products__top--primary {
  color: #f53607;
}

.products__top--secondary {
  color: rgba(0, 0, 0, 0.87);
}

.products__bottom {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* generic css */
.view {
  width: 25%;
  min-width: 30rem;
  height: 35rem;
  border-radius: 0.5rem;
  margin: 1.5rem 0rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.6);
          box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.6);
}

.view .mask,
.view .content {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 1rem;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 2rem 0 0 0;
}

.view p {
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 1rem 2rem 0rem;
  text-align: center;
}

/*3*/
.view-tenth img {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.view-tenth .mask {
  background-color: #63cd2b;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth p {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.view-tenth a.info {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.view-tenth:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity: 0;
}

.view-tenth:hover {
  border: 0.2rem solid #aaa;
}

.view-tenth:hover .mask {
  opacity: 1;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.contact {
  background-color: #313840;
  margin: 0 1rem;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__us--heading {
  font-size: 3.5rem;
  font-weight: 100;
  color: #999;
  text-align: center;
  margin-bottom: 3rem;
}

.contact__us--form {
  text-align: center;
}

.contact__us--form input {
  font-family: inherit;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 0.1rem solid #777;
  font-size: 1.6rem;
  padding: 1rem 0rem;
  color: #eee;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.contact__us--form input::-webkit-input-placeholder {
  color: #999;
}

.contact__us--form input:-ms-input-placeholder {
  color: #999;
}

.contact__us--form input::-ms-input-placeholder {
  color: #999;
}

.contact__us--form input::placeholder {
  color: #999;
}

.contact__us--form input:focus {
  border-bottom: 0.2rem solid #777;
}

.contact__us--name {
  margin-right: 2rem;
}

.contact__us--message {
  display: block;
  width: 100%;
  margin: 2rem 0 4rem 0;
}

.contact__us .btn {
  font-family: inherit;
  border: none;
  outline: none;
  background: transparent;
  color: #999;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  border: 0.1rem solid #777;
  cursor: pointer;
  border-radius: 0rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.contact__us .btn:hover {
  background: white;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.5rem;
}

.contact__social * {
  margin-bottom: 1.5rem;
}

.contact__social--icon {
  font-size: 1.8rem;
  color: #999;
  text-decoration: none;
  vertical-align: top;
}

.contact__social--icon i {
  font-size: 3rem;
  margin-right: 1.5rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.contact .contact__social--icon:hover i {
  color: white;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.primary {
  font-size: 2.5rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 2rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  cursor: pointer;
}

.secondary {
  display: inline-block;
  font-size: 3.7rem;
  font-weight: 100;
}

.secondary span {
  color: #63cd2b;
  font-weight: 500;
}

.icon-blue, .icon-green, .icon-rose, .icon-orange {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.icon-blue {
  color: #008cba;
}

.icon-green {
  color: #63cd2b;
}

.icon-rose {
  color: #ce2350;
}

.icon-orange {
  color: #e25111;
}

.overlay {
  position: relative;
}

.overlay:before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: block;
  z-index: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.overlay:hover:before {
  display: block;
  height: 100%;
}

.overlay:hover .icon-blue, .overlay:hover .icon-green, .overlay:hover .icon-rose, .overlay:hover .icon-orange {
  color: rgba(0, 0, 0, 0.87);
}

.blue:before {
  background-color: #008cba;
}

.green:before {
  background-color: #63cd2b;
}

.rose:before {
  background-color: #ce2350;
}

.orange:before {
  background-color: #e25111;
}

.overlay * {
  position: relative;
  /* hack */
}
/*# sourceMappingURL=style.css.map */