// import font from google

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500&display=swap');

// variables
$black_color: rgba(0, 0, 0, 0.87);
$white_color: rgb(255, 255, 255);
$green_color: #63cd2b;
$brown_color: rgb(245, 54, 7);

$primary_color: rgb(245, 244, 245);
$default_font_size: 62.5%;

// mixins
@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

// clear default values

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// To clear focus
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html {
  // font-size: 62.5%; //  10/16 => 1rem
  font-size: $default_font_size;
  scroll-behavior: smooth; //  For smooth scrolling

  // To include Mixins
  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  position: relative;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.6;
  // padding: 3rem;
}
.header__container {
  position: relative;
  height: 89vh;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $white_color;
  height: 10%;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem;
  border-bottom: 2px solid $green_color;

  &__brand {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $black_color;

    &--icon {
      width: 4rem;
    }

    &--primary {
      font-size: 3rem;
      font-weight: 600;
    }
    &--secondary {
      margin-top: -1.6rem;
      font-size: 1.5rem;
      letter-spacing: 0.9rem;
      font-weight: 300;
    }
  }
  &__list {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &--item {
      text-decoration: none;
      color: $black_color;
      font-size: 1.8rem;
      margin-right: 2rem;
      color: $black_color;
      font-weight: 500;
    }
  }
}
// Header
.header {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  //   url(./img/header.jpg);
  background-image: linear-gradient(
      rgba($green_color, 0.7),
      rgba($green_color, 0.7)
    ),
    url(./img/header.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  height: 100%;
  margin: 0 1rem;
}

// Menu animation
.menu__link {
  padding-bottom: 0.5rem;
  position: relative;
  overflow: hidden;
}

.menu__link:before,
.menu__link:after {
  content: '';
  width: 0;
  height: 3px;
  background-color: $green_color;

  will-change: width;
  transition: width 0.07s ease-out;

  position: absolute;
  bottom: 0;
}

.menu__link:before {
  left: 50%;
  transform: translateX(-50%);
}

.menu__link:after {
  right: 50%;
  transform: translateX(50%);
}

.menu__link:hover:before,
.menu__link:hover:after {
  width: 100%;
  transition-duration: 0.45s;
}

// SECTION ABOUT US
.about {
  border-left: 1rem solid $green_color;
  border-right: 1rem solid $green_color;

  &__section {
    background-color: $white_color;
    display: flex;
    align-items: center;
    padding: 6rem 0;
  }
  &__left {
    flex: 1;

    &--primary {
      color: $brown_color;
    }
  }

  &__right {
    flex: 1;

    & p {
      font-size: 1.6rem;

      &:first-child {
        margin-bottom: 2rem;
      }
    }
  }
}

.facts {
  margin: 0 1rem;
  padding: 6rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/strength.jpeg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  // height: 80vh;

  &__top {
    &--primary {
      color: $brown_color;
    }
    &--secondary {
      color: $white_color;
    }
  }
  &__bottom {
    color: $white_color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &--card {
      text-align: center;
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
      width: 20%;
      margin: 4rem 0;
      padding: 3rem 0;

      & i {
        font-size: 4rem;
        padding-bottom: 1.5rem;
      }

      .card__details {
        &--num {
          font-size: 3rem;
          padding-bottom: 0.5rem;
        }
        &--text {
          font-size: 1.6rem;
          font-weight: 100;
        }
      }
    }
  }
}

.products {
  padding: 6rem 0;
  border-left: 1rem solid $green_color;
  border-right: 1rem solid $green_color;
  // background-image: linear-gradient(rgba($green_color, 0.7), rgba($green_color, 0.7)),
  //   url(./img/strength.jpeg);
  // background-position: top;
  // background-size: cover;
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  &__top {
    &--primary {
      color: $brown_color;
    }
    &--secondary {
      color: $black_color;
    }
  }
  &__bottom {
    margin: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

/* generic css */

.view {
  width: 25%;
  min-width: 30rem;
  height: 35rem;
  border-radius: 0.5rem;
  margin: 1.5rem 0rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.6);
}

.view .mask,
.view .content {
  // width: 300px;
  // height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  // font-family: Raleway, serif;
  padding: 1rem;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 2rem 0 0 0;
}

.view p {
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 1rem 2rem 0rem;
  text-align: center;
}

/*3*/

.view-tenth img {
  transform: scaleY(1);
  transition: all 0.8s ease-in-out;
}

.view-tenth .mask {
  // background-color: rgba(255, 231, 179, 0.3);\
  background-color: $green_color;
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  transform: scale(0);
  // color: #333;
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth p {
  // color: #333;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
}

.view-tenth a.info {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
}

.view-tenth:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity: 0;
}
// .view-tenth:hover{
//   border: .2rem solid #ce2350;
//   background-color: transparent;
//   box-shadow: .5rem .5rem 0.3rem rgba(0, 0, 0, .6);
// }
.view-tenth:hover .mask {
  opacity: 1;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
  transform: scale(1);
  opacity: 1;
}

// CONTACT FORM

.contact {
  background-color: #313840;
  margin: 0 1rem;
  padding: 4rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__us {
    &--heading {
      font-size: 3.5rem;
      font-weight: 100;
      // color: rgba(255, 255, 255, 0.2);
      color: #999;
      text-align: center;
      margin-bottom: 3rem;
    }
    &--form {
      text-align: center;
      & input {
        font-family: inherit;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 0.1rem solid #777;
        font-size: 1.6rem;
        padding: 1rem 0rem;
        color: #eee;
        transition: all 0.7s;

        &::placeholder {
          color: #999;
        }
        &:focus {
          border-bottom: 0.2rem solid #777;
        }
      }
    }
    &--name {
      margin-right: 2rem;
    }
    &--email {
    }
    &--message {
      display: block;
      width: 100%;
      margin: 2rem 0 4rem 0;
    }
    .btn {
      font-family: inherit;
      border: none;
      outline: none;
      background: transparent;
      color: #999;
      font-size: 1.6rem;
      padding: 1rem 3rem;
      border: 0.1rem solid #777;
      cursor: pointer;
    }
    .btn-dark {
    }
  }

  &__social {
    & * {
      margin-bottom: 1.5rem;
    }
    &--icon {
      font-size: 1.8rem;
      color: #999;
      text-decoration: none;
      vertical-align: top;
      

      & i {
        font-size: 3rem;
        margin-right: 1.5rem;
        transition: all .1s linear;
      }
    }
  }
  .contact__social--icon:hover {
    & i {
      color: $white_color;
    }
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.primary {
  font-size: 2.5rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 2rem;
  transform: rotate(270deg);
  cursor: pointer;
}
.secondary {
  display: inline-block;
  font-size: 3.7rem;
  font-weight: 100;

  & span {
    color: $green_color;
    font-weight: 500;
  }
}
.icon {
  &-blue,
  &-green,
  &-rose,
  &-orange {
    transition: all 0.5s ease;
  }
}
.icon {
  &-blue {
    color: #008cba;
  }
  &-green {
    color: $green_color;
  }
  &-rose {
    color: #ce2350;
  }
  &-orange {
    color: #e25111;
  }
}
.overlay {
  position: relative;
}

.overlay:before {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: block;
  z-index: 0;
  transition: all 1s ease;
}

.overlay:hover:before {
  display: block;
  height: 100%;
}
.overlay:hover {
  .icon {
    &-blue,
    &-green,
    &-rose,
    &-orange {
      color: $black_color;
    }
  }
}

.blue:before {
  background-color: #008cba;
}
.green:before {
  background-color: $green_color;
}
.rose:before {
  background-color: #ce2350;
}
.orange:before {
  background-color: #e25111;
}
.overlay * {
  position: relative;
  /* hack */
}
